{% extends 'base.html.twig' %}

{% block title %}Edit Content{% endblock %}

{% block body %}
    <h1>Edit Content</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}
