{% extends 'base.html.twig' %}

{% block title %}Edit Feed{% endblock %}

{% block body %}
    <h4>Edit Feed</h4>

    {{ include('feed/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
